
body{
  background-image: url("../imgsf/bannar/banner3.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size:100%;
}
/* first-section-style */
/* All Thinks Are Possible If You believe */
.first-section{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 130px;
    
}
.first-section-pclass{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    
}
/* end-first-section */
/* <!-- Second-section-start --> */
.sec-section-style{
    padding-top: 330px;
    display: flex;
    justify-content: space-evenly;
}

/* end-sec-section-style */
/* ----My Plans-section-start */
#plans-txt{
    text-align: center;
    font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #151414; 
}
.plans-div{
    display: flex;
    justify-content: space-evenly;
    /* gap: 10px; */
}
/* Awlays keep a positive mindset-section-style */
.positive-mindset{
    background-image: url("../imgsf/watch.png");
  background-repeat: no-repeat;

margin: auto;
  margin-left: 22%;
  margin-bottom: 130px;
}
/* footer-start-style */
footer{}
.footer-div{
    display: flex;
    background-color: #151414;
    color: #FFFFFF;
    justify-content: space-around;
    padding-bottom: 130px;
}